*{
    margin: 0;
    padding: 0;
}

body{
    background-image:url("../img/bg001.png");
}

.wrapper{
    margin: 0 auto;
    display: flex;
    justify-items: center;
    justify-content: center;
    display: inline-block;
    padding: 4rem;
}
.text{
    width: 100%;
}

.hello{
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(left,red 15%, orange 45%, yellow 50%, green 75%, blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 15%;
}

.lorem{
    color: #2890c5;
    font-family: "Monospaced";
    text-space: 4px;
    font-size: 32px;
    margin-top: 2rem;

}

.square{
    margin: auto;
    display: flex;
    justify-content: center;
}

.red-square{
    margin-top: 15%;
    width: 300px;
    height: 100px;
    background-color: red;

}